<!DOCTYPE html>
<html lang="" ng-app="todo-app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body>
    <div class="container" ng-controller="HomeController as home">
        <!-- SHORTCUT: div.container -->
        <!-- HomeController is the controller we are using, home will be used below to reference -->
        <h1 class="text-center">To Do List</h1>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <!-- SHORTCUT: div.panel>div.panel-heading+panel-body -->
                Add Todo Item
            </div>
            <div class="panel-body">
                <!-- SHORTCUT: div.panel-body -->
                <input name="" ng-model="home.newTodo.name" id="" cols="30" class="form-control" placeholder="Enter new todo item here">
                </input>
                <!-- SHORTCUT: textarea.form-control -->
                <select name="" id="" cols="30" class="form-control" ng-model="home.newTodo.priority">
                    <option value="" disabled selected>--- Select Priority ---</option>
                    <option value=3>Low</option>
                    <option value=2>Medium</option>
                    <option value=1>High</option>
                </select>
            </div>
            <div class="panel-footer clearfix">
                <!-- SHORTCUT: div.panel-footer -->
                <!-- clearfix is fix for button not lining up correctly -->
                <button class="btn btn-primary pull-left" ng-click="home.create()">Add Todo</button>
            </div>
        </div>
        <div class="filters" style="margin-bottom: 70px;">
            <!--TODO: figure out why the margin doesn't slot todo items naturally below filters-->
            <!--TODO: if filter is selected, should be a different color. default should be highest priority first-->
            <button class="btn btn-primary pull-left" ng-click="home.sortTodoes(0)" style="border-radius: 10px 0px 0px 10px">Order alphabetically</button>
            <button class="btn btn-primary pull-left" ng-click="home.sortTodoes(1)" style="border-radius: 0px">Order by highest priority</button>
            <button class="btn btn-primary pull-left" ng-click="home.sortTodoes(2)" style="border-radius: 0px 10px 10px 0px;">Order by lowest priority</button>
        </div>
        <div class="panel" ng-repeat="todo in home.todoes | orderBy:home.orderCategory" ng-class="home.getClass(todo)" style="margin-bottom: 0px;">
            <!-- SHORTCUT: div.panel.panel-info>div.panel-heading+div.panel-body -->
            <div class="panel-heading panel-info">
                <!-- TODO: Review how to filter in norma values (i.e. high, medium, low) rather than exact class names -->
                <label ng-hide="editing" class="editing-label">{{todo.name}}</label>
                <input type="text" ng-show="editing" ng-model="todo.name" class="editing-label">&nbsp;&nbsp;&nbsp;
                <button type="button" ng-hide="editing" ng-click="editing=!editing" class="btn btn-primary btn-sm" style="padding: 2px;">Edit</button>
                <button type="button" ng-show="editing" ng-click="home.update(todo); editing=!editing" class="btn btn-primary btn-sm" style="padding: 2px;">Save</button>
                <button type="button" ng-click="home.remove(todo)" class="btn btn-danger btn-sm" style="float: right;padding: 2px 5px;">X</button>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="bower_components/angular/angular.js"></script>
    <!-- SHORTCUT: script:src -->
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/core/todo.factory.js"></script>
    <script src="app/core/todo/todo.controller.js"></script>
</body>

</html>
